doctype html
html
  head
    title User List
    // You can include stylesheet links or other head elements here
  body
    h1 User List

    //- Display a message if there are no users
    if !users || users.length === 0
      p No users found.
    else
      //- Table to display users
      table
        thead
          tr
            th Username
            th Email
            th Password
        tbody
          each user in users
            tr
              td= user && user.username ? user.username : 'N/A'
              td= user && user.email ? user.email : 'N/A'
              td= user && user.password ? user.password : 'N/A'

    //- Link to create a new user
    a(href="/new") Create New User
